<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách Booking</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom styles */
    body {
      background-color: #f4f6f9;
      font-family: 'Arial', sans-serif;
    }

    .container {
      margin-top: 30px;
    }

    h1 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 30px;
      text-align: center;
    }


  </style>
</head>
<body>



  <div class="d-flex position-relative">
    <%- include('../views/hader.ejs') %>
    <div>
      <div class="container">
        <h1>Danh sách Booking</h1>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cân Nặng</th>
              <th>ID Booking</th>
              <th>ID User</th>
              <th>Loại Thú Cưng</th>
              <th>Tên Dịch Vụ</th>
              <th>Tên Thú Cưng</th>
              <th>Thời Gian Đặt Lịch</th>
              <th>Trạng Thái</th>
              <th>Sửa</th>
              <th>Xóa</th>
            </tr>
          </thead>
          <tbody>
            <% if (bookings.length > 0) { %>
              <% bookings.forEach(booking => { %>
                <tr>
                  <td><%= booking.id %></td>
                  <td><%= booking.canNang %></td>
                  <td><%= booking.idBooking %></td>
                  <td><%= booking.idUser %></td>
                  <td><%= booking.loaiThuCung %></td>
                  <td><%= booking.tenDichVu %></td>
                  <td><%= booking.tenThuCung %></td>
                  <td><%= booking.thoiGianDatLich.toDate().toLocaleString() %></td>
                  <td><%= booking.trangThai %></td>
                  <td>
                    <!-- Button sửa -->
                    <a href="/bookings/editBooking/<%= booking.idBooking %>" class="btn btn-outline-warning">Sửa</a>
                  </td>
                  <td>
    
                    <!-- Button xóa -->
                    <a href="/bookings/deleteBooking/<%= booking.idBooking %>" class="btn btn-outline-danger">Xóa</a>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr><td colspan="10" class="no-booking-message">Không có booking nào.</td></tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>








  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
