<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách sản phẩm</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">
  <style>
    .main-content {
      margin-left: 173px;
      height: 100%;
      background-size: cover;
      background-attachment: fixed;
      padding: 20px;
    }

    .mySlides {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s, transform 0.5s;
    }

    .thongso {
      border: 2px solid rgba(0, 0, 0, 0.1);
      /* Đường viền mờ */
      border-radius: 12px;
      /* Bo góc */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      /* Shadow nhẹ */
      padding: 20px;
      margin-top: 20px;
    }

    .card-title i {
      margin-right: 8px;
    }

    .card {
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .display-6 {
      font-size: 2rem;
      font-weight: bold;
    }


    .card:hover {
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }

    .card-body p {
      font-weight: bold;
      font-size: 25px;
    }
  </style>
</head>

<body>


  <div class="d-flex position-relative">
    <%- include('../views/hader.ejs') %>
      <div class="main-content">

        <div class="container thongso">
          <h2>Thống Kê</h2>
          <div class="row g-3 mt-2">

            <!-- Người dùng -->
            <div class="col-md-3">
              <div class="card bg-primary text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-users"></i> Người dùng
                  </h5>
                  <p class="card-text display-6">
                    <%= nguoiDungDem %>
                  </p>
                </div>
              </div>
            </div>

            <!-- Ẩm thực -->
            <div class="col-md-3">
              <div class="card text-white" style="background-color: #108AB1;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> Tổng số đơn
                  </h5>
                  <p class="card-text display-6">
                    <%= tonghddem %>
                  </p>
                </div>
              </div>
            </div>



            <!-- Dịch vụ -->
            <div class="col-md-3">
              <div class="card text-white" style="background-color: #C3C7F4;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-cogs"></i> Dịch vụ
                  </h5>
                  <p class="card-text display-6">

                    <%= dvdem %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bg-primary text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> Đơn hoàn thành hôm nay
                  </h5>
                  <p class="card-text display-6">
                    <%= bookingsToday %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card bg-header text-white " style="background-color: #1240bd;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> Đơn cần xử lý hôm nay
                  </h5>
                  <p class="card-text display-6">
                    <%= bookingsTodayTong %>

                  </p>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-3">
              <div class="card bg-secondary text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-headset"></i> Hỗ trợ
                  </h5>
                  <p class="card-text display-6">1
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card bg-header text-white " style="background-color: #1240bd;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-headset"></i> Hỗ trợ chưa xử lý
                  </h5>
                  <p class="card-text display-6">1
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card bg-success text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-ticket-alt"></i> Coupon
                  </h5>
                  <p class="card-text display-6">1
                  </p>
                </div>
              </div>
            </div> -->



            <!-- Hóa đơn -->
            <div class="col-md-3">
              <div class="card text-white" style="background-color: #413e95;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> HĐDV hoàn thành
                  </h5>
                  <p class="card-text display-6">
                    <%= totalOrders %>
                  </p>
                </div>
              </div>
            </div>

            <!-- Hóa đơn chưa xử lý-->
            <div class="col-md-3">
              <div class="card bg-light text-dark">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> HĐDV chưa xác nhận
                  </h5>
                  <p class="card-text display-6">

                    <%= tonghdcxndem %>
                  </p>
                </div>
              </div>
            </div>

            <!-- Hóa đơn bij hủy -->
            <div class="col-md-3">
              <div class="card text-white" style="background-color: #716fa5;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> HĐDV bị hủy
                  </h5>
                  <p class="card-text display-6">
                    <%= tonghdcxnhuy %>
                  </p>
                </div>
              </div>
            </div>

            <!-- Tổng doanh thu tháng -->
            <div class="col-md-3">
              <div class="card bg-primary text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-file-invoice-dollar"></i> HĐ vi phạm
                  </h5>
                  <p class="card-text display-6">
                    <%= tonghdcvp %>
                  </p>
                </div>
              </div>
            </div>

            <!-- Tổng doanh thu -->
            <div class="col-md-3">
              <div class="card bg-danger text-white">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-dollar"></i> Tổng doanh thu
                  </h5>
                  <p class="card-text display-6">
                    <%= totalRevenue %> VND
                  </p>
                </div>
              </div>
            </div>
            <!-- Tiện nghi -->
            <div class="col-md-3">
              <div class="card text-white" style="background-color: #F78C6A;">
                <div class="card-body text-center">
                  <h5 class="card-title">
                    <i class="fas fa-dollar"></i> Doanh thu vi phạm
                  </h5>
                  <p class="card-text display-6">
                    <%= tienViPham %> VND
                  </p>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
    integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.js"></script>
  <!-- Thêm FullCalendar JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
  <!-- FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

</body>

</html>